body {
  font-family: 'Source Sans Pro', sans-serif;
  @include sgl-body($sgl-base-font-size, $sgl-base-unit);
}

h1 {
  @include sgl-heading(3);
}

h2 {
  @include sgl-heading(2);
}

h3 {
  @include sgl-heading(1);
}

h4 {
  @include sgl-heading(0);
}

p, ul, ol, pre, table, blockquote {
    @include sgl-margins();
}

.wrapper {
  margin: 0 auto;
  padding: 0 1rem;
  width: 100%;
  max-width: 25rem;
}
