body {
  font-family: 'Source Sans Pro', sans-serif;
  margin-left: 1rem;
  margin-right: 1rem;
  @include sgl-body($sgl-base-font-size, $sgl-base-unit);
}

h1 {
  @include sgl-heading(3);
}

h2 {
  @include sgl-heading(2);
}

h3 {
  @include sgl-heading(1);
}

h4 {
  @include sgl-heading(0);
}

p, ul, ol, pre, table, blockquote {
    @include sgl-margins();
}
