.site-header {
  height: 6rem;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  .wrapper {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
  }
}
