@charset "utf-8";
@import
  "reset",
  "sassy-gridlover/sassy-gridlover/_sassy-gridlover",
  "modular-scale/stylesheets/modular-scale";




// Our variables
$breakpoint-1: 450px;
$breakpoint-2: 500px;

$base-color: hsla(0, 0%, 12%, .87);
$secondary-color: #0087bd;
// $base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
// $base-font-size:   16px;
// $base-font-weight: 400;
// $small-font-size:  $base-font-size * 0.875;
// $base-line-height: 1.5;
//
// $spacing-unit:     30px;
//
// $text-color:       #111;
// $background-color: #fdfdfd;
// $brand-color:      #2a7ae2;
//
// $grey-color:       #828282;
// $grey-color-light: lighten($grey-color, 40%);
// $grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
// $content-width:    800px;
//
// $on-palm:          600px;
// $on-laptop:        800px;

// Sassy-gridlover variables
// https://github.com/hiulit/Sassy-Gridlover
$sgl-base-font-size: 16;
$sgl-scale-factor: $MINOR_THIRD;
$sgl-base-line-height: 1.5;

// Modular-scale variables
// https://github.com/modularscale/modularscale-sass
$ms-base: 1rem;
$ms-ratio: $minor-third;


// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($width) {
    @media screen and (min-width: $width) {
        @content;
    }
}

@import
  "global",
  "icons",
  "site-header",
  "page-specific";
