.site-header {
  padding: $vertical-rythm;
  box-shadow: 0px 0px 2px hsla(0, 0, 0, .15);
  background-color: hsl(0, 0, 100);

  &__link {
    max-width: 36rem;
    margin: 0 auto;
    height: $line-height;
    display: flex;
    align-items: center;
  }

  &__logo {
    height: 100%;
    width: auto;
  }
}
